@font-face {
    font-family: Fredoka;
    src: url(./FredokaOne-Regular.ttf);
}
*{
	box-sizing: border-box;
}
body{
	font-family: Fredoka;
}
/* header */
.header{
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
	font-size: 35px;
}
.header img{
  width: 100%;
}
/* navOverLay */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* Container Flex */
.row{
	display: -webkit-flex;
	display: flex;
}
/* Create three unequal columns that sits next to each other */
.column{
	
}
.columnInside{
      float: left;
      width: 25%;
      
    }
.content{
      background-color: white;
      padding: 3px;
      color: black;
      margin: 5px;
}
.content img{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.content:hover{
      transform: scale(1.05);
}
iframe{
  width: 800px;
  height: 800px;
  aspect-ratio: auto;
}
.column.side{
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}
.column.side1{
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.column.middle{
	-webkit-flex: 7;
	-ms-flex: 7;
	flex: 7;
}
.footer{
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
}
@media(max-width:600px){
  .header{
    padding: 0;
  }
	.row{
		-webkit-flex-direction:column;
		flex-direction: column;
	}
  .side{
    display: none;
  }
  .columnInside{
    width: 100%;
  }
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  	font-size: 40px;
  	top: 15px;
  	right: 35px;
  }
}